<a href="https://colab.research.google.com/github/Bibhuti-MLAI/Python-Assignment/blob/main/Python_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create and insert new records to the table with name of the table as employee 
details and insert 2 records in the table
2. Delete the first row where it matches particular condition from the table
3. Update the existing record with the new value

In [1]:
#packages required
import pandas as pd
import numpy as np

In [2]:
input = [[101,'John',28,30000,'HT'],
         [102,'Arya',16,16000,'Stark'],
         [103,'Jimmy',30,45000,'LK']]
employee_details = pd.DataFrame(input,columns=['Emp_Id','Name','Age','Salary','Department'])
employee_details.head()

   Emp_Id   Name  Age  Salary Department
0     101   John   28   30000         HT
1     102   Arya   16   16000      Stark
2     103  Jimmy   30   45000         LK

In [3]:
type(employee_details)

pandas.core.frame.DataFrame

In [4]:
employee_details.drop(employee_details[employee_details['Emp_Id'] == 101].index, inplace = True)

In [5]:
employee_details.head()

   Emp_Id   Name  Age  Salary Department
1     102   Arya   16   16000      Stark
2     103  Jimmy   30   45000         LK

In [6]:
employee_details.loc[len(employee_details.index)+1] = [104,'Sansa','20',50000,'Stark']

In [7]:
employee_details.head()

   Emp_Id   Name Age  Salary Department
1     102   Arya  16   16000      Stark
2     103  Jimmy  30   45000         LK
3     104  Sansa  20   50000      Stark

# Keep only last name of the players in the dataframe for below dataframe 
player_list = [['M.S.Dhoni', 36, 75, 5428000], 
['A.B.D Villers', 38, 74, 3428000],
 ['V.Kholi', 31, 70, 8428000],
 ['S.Smith', 34, 80, 4428000], 
 ['C.Gayle', 40, 100, 4528000],
 ['J.Root', 33, 72, 7028000], 
 ['K.Peterson', 42, 85, 2528000]]
# columns=['Name', 'Age', 'Weight', 'Salary']

In [8]:
player_list = [['Dhoni', 36, 75, 5428000], 
               ['Villers', 38, 74, 3428000], 
               ['Kholi', 31, 70, 8428000], 
               ['Smith', 34, 80, 4428000],
               ['Gayle', 40, 100, 4528000],
               ['Root', 33, 72, 7028000],
               ['Peterson', 42, 85, 2528000]]

In [9]:
player_info = pd.DataFrame(player_list,columns=['Name', 'Age', 'Weight', 'Salary'])

In [10]:
player_info

       Name  Age  Weight   Salary
0     Dhoni   36      75  5428000
1   Villers   38      74  3428000
2     Kholi   31      70  8428000
3     Smith   34      80  4428000
4     Gayle   40     100  4528000
5      Root   33      72  7028000
6  Peterson   42      85  2528000

In [11]:
[player_info.Age , player_info.Weight ]

[0    36
 1    38
 2    31
 3    34
 4    40
 5    33
 6    42
 Name: Age, dtype: int64, 0     75
 1     74
 2     70
 3     80
 4    100
 5     72
 6     85
 Name: Weight, dtype: int64]

In [12]:
def fun():
  a = print(int(input("Enter your Age : ")))
  b = print(int(input("Enter your Weight : ")))
  
    if a==a1 & b==b1:
      print(True)
    else:
      print(False)
fun()

IndentationError: ignored

## Increase the salary of players with 35% of existing salary whose age is more than 35 and weight less than 80

In [ ]:
player_info['new_salary'] = np.where((player_info['Age']>35) & (player_info['Weight']<80) ,1.35*player_info['Salary'], player_info['Salary'])
player_info

Increase the salary of players with average of all the existing players salary whose age is less than 40 and weight less than 80

In [ ]:
player_info['new_salary_avg'] = np.where((player_info['Age']>40) & (player_info['Weight']>80) ,(player_info['Salary'].mean())+player_info['Salary'], player_info['Salary'])
player_info

Display the dataframe from the input file shared (input_file.csv) where date.utc column is in standard timestamp format

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/python module setup/input_file.csv")

In [ ]:
df.dtypes

In [ ]:
df['date.utc']=pd.to_datetime(df['date.utc'])

In [ ]:
df.head()

In [ ]:
df['date.IST'] = df['date.utc'].dt.tz_convert('Asia/Kolkata')
df.head(10)

Clean the parameter column from the input file shared and keep it in int type

In [ ]:
df['parameter'].replace(regex=True,inplace=True,to_replace=r'[^0-9.\-]',value=r'')
df.head(10)

In [ ]:
#df['parameter']= df['parameter'].fillna(0)
#df

In [ ]:
df.dtypes

In [ ]:
#df.dropna()

In [ ]:
df['parameter']= df['parameter'].astype('float')
df.head(10)

## Fill the null value in parameter column with average of all the non null parameters in dataframe

In [ ]:
df['parameter'] = df['parameter'].fillna( df['parameter'].mean())

In [ ]:
df

In [ ]:
df['parameter']= df['parameter'].astype('int')
df

# Fill the country based on the other values in the dataframe for city

In [ ]:
df['country'] = np.where((df['country'].isna()) & (df['city']== 'Paris'), 'FR' ,'ID')

In [ ]:
df

## Plot the histogram to get the comparison of which city has more parameters with respect to date

In [ ]:
df.groupby(['city','parameter'])['parameter'].sum()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
sns.histplot(data=df, x= 'date.IST', hue="city")

# **Section 2**

In [ ]:
weather = pd.read_csv("/content/drive/MyDrive/python module setup/weather.csv")

In [ ]:
weather.describe()

In [ ]:
weather.head()

In [ ]:
weather.dtypes

In [ ]:
weather=weather.rename(columns={'Data.Precipitation':'precipitation',
                        'Date.Full':'date',
                        'Station.City':'city',
                        'Station.State':'state',
                        'Data.Temperature.Avg Temp':'avg_temp',
                        'Data.Temperature.Max Temp':'max_temp',
                        'Data.Temperature.Min Temp':'min_temp',
                        'Data.Wind.Direction':'wind_direction',
                        'Data.Wind.Speed':'wind_speed'})
weather

In [ ]:
weather['city'] = weather['city'].str.strip()
weather['state'] = weather['state'].str.strip()

In [ ]:
weather

In [ ]:
weather['city'].replace(regex=True,inplace=True,to_replace=r'[^A-Za-z0-9]',value=r'')
weather['state'].replace(regex=True,inplace=True,to_replace=r'[^A-Za-z0-9]',value=r'')

In [ ]:
weather

# Select the records that corresponds to hottest city for each state

In [ ]:
hotest_city = weather.groupby(['state','city'])['max_temp'].max().reset_index()
hotest_city

In [ ]:
hotest_city = weather.loc[weather.groupby('state')['max_temp'].idxmax().values,['state','city','max_temp']]
hotest_city

## Create a new dataframe which contains the average wind speed of each state and whose wind speed is greater than the overall average wind speed across all the states

In [ ]:
weather.head(10)

In [ ]:
wind_speed_o=weather['wind_speed'].mean()
wind_speed_o

In [ ]:
wind_speed_state = weather.groupby('state')['wind_speed'].mean().reset_index()
wind_speed_state.head(5)

In [ ]:
wind_speed_state['wind_speed_o'] = weather['wind_speed'].mean()
wind_speed_state.head()

In [ ]:
wind_speed_new = wind_speed_state[wind_speed_state['wind_speed'] > wind_speed_state['wind_speed_o']]
wind_speed_new.head()

# Pivot the existing dataframe to find the average temperature for every city across all the months for the year 2016. Please refer to the below table for the expected output.

In [ ]:
weather.head()

In [ ]:
weather['date']= pd.to_datetime(weather['date'].values)
#weather['date']=pd.to_datetime(weather['date'])

In [ ]:
weather.dtypes

In [ ]:
weather['month']= weather['date'].dt.month_name()
weather.head(5)

In [ ]:
df_2016 = weather[weather.date.dt.year==2016]
df_2016

In [ ]:
y_2016 = pd.DataFrame(df_2016.groupby(["city","month"])["max_temp"].agg("max")).reset_index()
y_2016

In [ ]:
y_2016['max_temp'].isna().sum()

In [ ]:
pivoted = y_2016.pivot(index="city", columns="month",values="max_temp")
pivoted

In [ ]:
weather.head()

## Bucket the daily average temperature into the following temperature scale: 0-25, 26-40, 41-65 and then find out the distribution of records that lie in each of these buckets. Also find which citys temperature frequently falls in each bucket

In [ ]:
weather['bucket_0-25']= weather[ (weather['avg_temp'] > 0) & (weather['avg_temp'] < 26) ].avg_temp
weather['bucket_26-40']=weather[(weather['avg_temp'] >25) & (weather['avg_temp'] < 41)].avg_temp
weather['bucket_41-65']=weather[(weather['avg_temp'] >40) & (weather['avg_temp'] < 66)].avg_temp
weather.head(5)

Section 3 : Data Preprocessing

In [ ]:
weather.head()